
.carousel-inner {
  height: 30vw;
  width: 70vw;
  display: flex;

}


@media (max-width :1000px){
  .carousel{
    width: 80vw;
    height:55vh;
  }
  .carousel-inner{
    width: 100%;
    height: 100%;
  }
  #contenedorCarr {
  
  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%  ;
  }
  
  
}

.carousel-control-next-icon{
  margin-left: 120px;
}
.carousel-control-prev-icon{
  margin-right: 80px;
}

#contenedorCarr {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  
}

#contenedorCarr div {
  background-size: cover;
  background-position: center;
  transition: all .9s ease;
  /* Safari y Chrome */
  transition: all .9s ease;
  /* Firefox */
  transition: all .9s ease;
  /* IE 9 */
  transition: all .9s ease;
  /* Opera */
  width: 100%;
  height: 100%;
  


}

#contenedorCarr div:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
}

.carousel-indicator {
  display: none;
}

#nombreCiudad {
  height: auto !important;
  opacity: 0.7;
  width: 100% !important;
  background-size: cover;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  color: black !important;

}

@media (max-width: 500px){
  #nombreCiudad {
    height: auto !important;
    opacity: 0.7;
    width: 100% !important;
    background-size: cover;
    display: flex !important;
    justify-content: center !important;
    align-items: center;

  }
}